<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>SlideHunt is an open and free platform for people to share the best playgrounds in the world!</p>
                    <p>Just take a photo with your GPS-enabled phone and SlideHunt will help you locate the playground on the map.</p>
                </div>
                <div class="col-lg-4">
                    <p>If you're looking for a playground to play with your children over the weekend, or travelling with your children and want to visit some unique local playgrounds, SlideHunt helps you to find the best and most interesting playgrounds in the world!</p>
                </div>
            </div>
        </div>
    </section>
