<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <h3>UNICEF - Right to Play</h3>
                    <p>Every child has a <a href="http://mav.unicef.org.hk/right-to-play/?lang=en">right to play</a>. Everyone should recognize children's right to rest and leisure, to engage in play and recreational activities appropriate to the age of the child and to participate freely in cultural life and the arts, according to Article 31, United Nations Convention on the Rights of the Child (1989).</p>
                    <p>UNICEF champion children's right to play because play is essential for children's development on language, analytical and decision-making skills.</p>
                </div>
                <div class="col-lg-5">
                    <h3>SlideHunt</h3>
                    <p>Because play is so important to children, a good playground for children to enjoy is also very important.</p>
                    <p>SlideHunt is an open and free platform for people to share the best playgrounds in the world!</p>
                    <p>If you're looking for a playground to play with your children over the weekend, or travelling with your children and want to visit some unique playgrounds in the world, SlideHunt helps you to find the best and most interesting playgrounds in the world!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="auto-resizable-iframe">
                        <div>
                            <iframe width="853" height="480" src="https://www.youtube.com/embed/j6RvnwZRs0Q" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>We are currently collecting all the amazing playgrounds in the world. If you have been to one and want more children to play in it, you may submit it to <a href="mailto:submit@slidehunt.com?subject=Playground%20Submission&body=I%20know%20an%20amazing%20playground%20in%20[location]!%0D%0A%0D%0AHere%20are%20some%20photos%20of%20it.%0D%0A%0D%0A[more%20info%20here%20would%20be%20wonderful!]">submit@slidehunt.com</a> and we'll organize it and share with the world! Please tell us where the playground is and attach at least one photo of it so that we could see how amazing it is!</p>
                </div>
            </div>
        </div>
    </section>
